<ion-view title="Post">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios7-paperplane-outline">Send</button>
	</ion-nav-buttons>
	<ion-content class="has-header">
      <div class="list card">

        <div class="item item-avatar">
          <img src="img/default.png">
          <h2>Marty McFly</h2>
          <p>November 05, 1955</p>
        </div>

        <div class="item item-body">
        	<textarea ng-model="post.content" placeholder="what's new..." rows="5"></textarea>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-ios7-at-outline"></i>
          </a>
          <a class="tab-item" ng-click="attachPhoto()">
            <i class="icon ion-ios7-camera-outline"></i>
          </a>
          <a class="tab-item" ng-click="attachVideo()">
            <i class="icon ion-ios7-videocam-outline"></i>
          </a>
          <a href="#" class="tab-item">
          	<i class="icon ion-happy"></i>
          </a>
          <a ng-click="getCurrentLocation()" class="tab-item">
          	<i class="icon ion-ios7-location-outline"></i>
          </a>
        </div>

      </div>
    </ion-content>
</ion-view>
