<ion-view title="Welcome">
    <ion-content scroll="false">
        <div class="yn-container">
            <div class="yn-container-inner">
                <div class="yn-top">
                    <p>Yes OR No?</p>
                    <p>yo, ya have to be honest!</p>
                </div>
                <div class="yn-middle">
                    <a href="#/signup" class="button button-positive button-block">Sign Up</a>
                    <p>Already have an accout?</p>
                    <a href="#/login" class="button button-block button-outline button-block">Login</a>
                </div>
                <div class="yn-bottom">
                    <p>This app was built by Nicholas, and all just for fun! Contact me on twitter @ <a href="https://twitter.com/Normal_Geek_Xue">Normal_Geek_Xue</a></p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
